*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.4s;
}
body{
	font-family: sans-serif;
}
a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 1.3rem;
	font-weight: bold;
}

/* navbar styling */
.navbar{
	display: flex;
	height: 5rem;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	border-bottom: 2px solid rgb(227, 238, 225);
}

/* logo style */
.logo img{
	width: 4rem;
	height: 4rem;
	margin-left:1rem;
}

.hamburger-menu{
	padding-right: 1.5rem;
	cursor: pointer;
}

.hamburger-menu .line{
display: block;
width:2.5rem;
height: 2px;
margin-bottom: 10px;
background-color: rgb(0, 0, 0);
cursor: pointer;
}

.nav-menu{
	position: fixed;
	width: 94%;
	top: 6rem;
	left: 18px;
	background-color: rgb(255, 255, 255);
	font-weight: 600;

}
.nav-menu a{
	display: block;
	text-align: center;
	padding: 5px 0;
}
.nav-menu a:hover{
	background-color: rgb(0, 0, 0);
}

.hide{
	display: none;
}

/* for Desktop view */
@media screen and (min-width:600px){
	.navbar{
		justify-content: space-around;
	}
	.nav-menu{
		display: block;
		position: static;
		width: auto;
		margin-right:20px;
		background: none;
	}
	.nav-menu a{
		display: inline-block;
		padding: 15px 20px;
	}
	.nav-menu a:hover{
		background-color: rgb(223, 251, 219);
		border-radius: 5px;
	}
	.hamburger-menu{
		display: none;
	}
}
